<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="turma">
      <h2 data-cy="turmaDetailsHeading"><span>Turma</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ turma.id }}</span>
        </dd>
        <dt><span>Codigo Turma</span></dt>
        <dd>
          <span>{{ turma.codigoTurma }}</span>
        </dd>
        <dt><span>Data Criacao</span></dt>
        <dd>
          <span>{{ turma.dataCriacao | formatMediumDate }}</span>
        </dd>
        <dt><span>Unidade</span></dt>
        <dd>
          <span>{{ turma.unidade }}</span>
        </dd>
        <dt><span>Observacoes</span></dt>
        <dd>
          <span>{{ turma.observacoes }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/turma', turma.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
